<div class="cart_sec">
    <div class="back_cartpage">
        <div class="container">
            <div class="rental_cart row">Rental Order {{order_id}}</div>
        </div>
    </div>
    <div class="container Rental-OrderForm">
        <div class="row paddingleft_right">
            <div class="myproject_details">
                <!-- <h2>{{order_status}}:</h2> -->
                <h2 *ngIf="order_status != 'Rejected'">{{order_status}} : {{project_name}}</h2>
                <h2 *ngIf="order_status == 'Rejected'">Declined : {{project_name}}</h2>
            </div>
            <div class="summary-item-header">
                <!-- <b class="float-right accept_text">Accepted</b> -->
                <!-- <span class="listing-title float-left" *ngIf="renter_owner_type=='owner'"> Confirmed by <strong>{{user_details[0].app_user_first_name}}&nbsp;{{user_details[0].app_user_last_name}}</strong>
                </span> -->
                <!-- <span class="listing-title float-left" *ngIf="renter_owner_type=='renter'"> Booked :</span> -->
                <div class="clear-float"></div>
            </div>
            <div class="summary-item-header">
                <!-- <b class="float-right">{{order_id}}</b> --><span class="order_date"> {{update_date | date}}</span>
                <div class="clear-float"></div>
            </div>
        </div>
        <div class="row paddingleft_right">
            <div class="col-md-6 Left-Block">
                <div class="row">
                    <div class="profile_sec">
                        <div class="image_sec">
                            <img src="{{user_details && user_details[0] ? user_details[0].user_profile_picture_link : ''}}" alt="{{user_details && user_details[0] ? user_details[0].app_user_first_name : ''}}">
                        </div>
                        <div class="content_sec">
                            <h3>
                                <a [routerLink]="['/profile/' + (user_details && user_details[0] ? user_details[0].app_username : '') ]"> {{user_details && user_details[0] ? user_details[0].app_user_first_name : ''}}&nbsp;{{user_details && user_details[0] ? user_details[0].app_user_last_name : ''}}</a>
                            </h3>
                            <!-- <p> Email: {{user_details[0].primary_email_address}}, Phone: {{user_details[0].primary_mobile_number}}</p> -->
                            <!-- <p> <button type="button" class="btn btn-sm category-btn top_to_btn" data-toggle="modal"
                                data-target="#contactTheOwner">Message</button> </p> -->
                            <!-------
                                Open in message Tab
                            ------->
                            <p *ngIf="!is_order_completed"> <button type="button" class="btn btn-sm category-btn top_to_btn" (click)="goToMessageBox()">Message</button> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 Right-Block">
                <div class="row">
                    <div class="date_box">
                        <div class="date_block">
                            <ul>
                                <li>
                                    <div class="pick_text">Pick up</div>
                                    <div class="pick_date">{{date_from}}</div>
                                </li>
                                <li>
                                    <div class="icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                                </li>
                                <li>
                                    <div class="pick_text">Drop-off</div>
                                    <div class="pick_date">{{date_to}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="shoot_days">Shoot days : {{shoot_days}}</div>
                    </div>


                    <div class="clearfix"></div>
                    <div class="edit_order" *ngIf="!is_order_completed">
                        <select class="cart-detail-app" (change)="editOrder($event.target.value)">
                            <option value="">Edit order</option>
                            <!-- <option value="damage_waiver_pro">Channge/Extend Dates</option> -->
                            <option value="damage_waiver">Rental Notes, Damage or Issues</option>
                        </select>
                    </div>


                    <div *ngIf="damage_waiver_text">
                        <div class="issueWrap">
                            <textarea rows="3" placeholder="Write a decription..." class="form-control" name="damage_issues" [(ngModel)]="damage_issues"></textarea>
                            <button type="submit-issue" class="submit_issue_btns" (click)="submitDamageIssues()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row paddingleft_right">
            <div class="details">
                <p><strong>Pick up / Return location</strong></p>
                <p>{{suburb_state}}</p>
            </div>
            <div class="details" *ngIf="is_review_available">
                <p><strong>Reviews by you</strong></p>
                <a href="#" data-toggle="modal" data-target="#reviewModal"><b>Write a review</b></a>
            </div>
            <div class="details">
                <p><strong>Shoot Details</strong></p>
                <p>{{shoot_details}}</p>
            </div>
            <div class="table_invoice">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Description </strong></td>
                                <td class="text-right"><strong>Replacement Value</strong></td>
                                <td class="text-center"><strong>Rented Days </strong></td>
                                <td class="text-center"><strong>Daily Rate</strong></td>
                                <td class="text-right"><strong>Amount AUD</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cart_details">
                                <td>{{item.gear_name}}</td>
                                <td class="text-right">{{item.replacement_value_aud_inc_gst | currency}}</td>
                                <td class="text-center">{{item.total_rent_days}}</td>
                                <td class="text-center">{{item.per_day_cost_aud_ex_gst | currency}}</td>
                                <td class="text-right">{{item.total_rent_amount_ex_gst | currency}}</td>
                            </tr>

                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right"><strong>Subtotal</strong></td>
                                <td class="thick-line text-right">{{(rent_summary && rent_summary.sub_total ? rent_summary.sub_total : 0) | currency}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Discount (15%)</strong></td>
                                <td class="no-line text-right">- ( {{(rent_summary ? rent_summary.beta_discount : 0) | currency}} )</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right "><strong>Insurance Fee</strong></td>
                                <td class="no-line text-right">{{(rent_summary ? rent_summary.insurance_fee : 0) | currency}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right "><strong>Owner Insurance Fee</strong></td>
                                <td class="no-line text-right">{{(rent_summary ? rent_summary.owner_insurance_amount : 0) | currency}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Community Fee</strong></td>
                                <td class="no-line text-right">{{(rent_summary ? rent_summary.community_fee : 0) | currency}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>TOTAL ex GST</strong></td>
                                <td class="no-line text-right">{{(rent_summary ? rent_summary.total_rent_amount_ex_gst : 0) | currency}}</td>
                            </tr>
                            <tr>
                                <td class="no-line">
                                </td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>TOTAL GST 10%</strong></td>
                                <td class="no-line text-right">{{(rent_summary ? rent_summary.gst_amount : 0) | currency}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right" style="border-top:2px solid #000; font-size:20px; font-weight:bolder"><strong>TOTAL AUD</strong></td>
                                <td class="no-line text-right" style="border-top:2px solid #000;  font-size:20px; font-weight:bolder">{{(rent_summary ? rent_summary.total_rent_amount : 0) | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="upload_images_sec">
                <div class="info_text_new">
                    <p><strong>Order Images and checksheet</strong></p>
                    <p> In order to provide evidence in the event of a claim, upload checksheets and any images that highlight the listings condition</p>
                </div>
                <div class="photo_gelary">
                    <ng-container *ngFor="let eachImage of checkListArray; let i=index">
                        <div class="upload_img">
                            <img [src]="eachImage.image" class="img-responsive">
                        </div>
                    </ng-container>
                    <div class="upload_images_section img_view" *ngIf="!is_order_completed">
                        <input id="filt_upload" type="file" name="gearImageUpload" (change)="onFileChange($event)" class="filt_upload">
                        <img (click)="uploadImage()" src="assets/images/images_new.png" alt="" style="cursor: pointer;">
                    </div>
                </div>


                <div class="content_sec_info">
                    <!-- <div class="headings_new">Identification Verification</div>
                    <p>In order to Accept this Order, verify your <a [routerLink]="[ '/profile/account-settings' ]">Mobile Number</a> and <a [routerLink]="[ '/profile/digital-id' ]">Digital ID</a>.</p> -->

                    <div class="headings_new" *ngIf="does_any_item_has_security_deposite">Security Deposit</div>
                    <p>A Deposit of {{security_deposite | currency }} inc GST will be Authorised separately on the renters card. It will not be charged unless the owner makes a claim.</p>
                </div>


                <div class="order_complete_sec" *ngIf="is_end_rental_available">
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox2" type="checkbox" (change)="agreementChecked($event)">
                        <label for="checkbox2">
                            I agree that the order has been completed and all items have been returned with no damage.
                        </label>
                    </div>
                </div>
                <div class="btns_panel">
                    <button type="accept" class="accept_rental_btns" *ngIf="is_accept_rental_available" (click)="acceptRental()">Accept Rental</button>
                    <button type="decline" class="decline_rental_btns" *ngIf="is_decline_rental_available" (click)="declineRental()">Decline Rental</button>
                    <button type="end" class="end_rental_btns" *ngIf="is_end_rental_available" (click)="endRental()">End rental</button>
                    <button type="cancel" class="cancel_rental_btns" *ngIf="is_cancel_rental_available" style="margin-right:5px;" (click)="cancelRental()">Cancel rental</button>
                </div>
                <div class="clearfix"></div>
                <div class="help_sec">
                    <div class="help_leftside">
                        <h4><strong>Need help?</strong></h4>
                        <p>Visit our <a [routerLink]="[ '/faq' ]">Frequently Asked Questions</a></p>
                    </div>
                    <div class="help_rightside">
                        <p><strong>{{order_id}}</strong></p>
                        <!--<p *ngIf="renter_owner_type=='owner'">Booked by {{user_details[0].app_user_first_name}}</p>-->
                        <p *ngIf="renter_owner_type=='renter'">Booked : {{update_date | date}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="help_sec damageView">
                    <div class="help_leftside">
                        <h4><strong>Rental Notes, Damage or Issues</strong></h4>
                        <p *ngFor="let damage_issue of damage_issue_list">
                            <!--THIS WILL PREVENT EDITING OF DAMAGE / ISSUES <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal" (click)="getDamageIssue(damage_issue.ks_order_issues_id, damage_issue.issue)"></span>-->
                            {{damage_issue.issue}}
                        </p>
                    </div>
                </div>

                <div class="content_sec_info">
                    <div class="headings_new">Cancellation Policy:</div>
                    <p>Certain fees and taxes may be non-refundable. See <a [routerLink]="[ '/faq/list/19' ]"> here </a> for more details.</p>
                    <p class="padding_top">Braintree (a PayPal company) is a limited collection agent of your Owner. This means that upon payment of the Total Fees to braintree your payment obligation to your Owner is satisfied refund requests will be processed in accordance
                        with kitshare <a [routerLink]="[ '/cms/terms-and-conditions' ]">Terms and conditions</a>. Questions or complaints: contact hello@kitshare.com.au</p>
                    <div class="headings_new">Explanation of the Security Deposit:</div>
                    <p>Owners can make a claim on their deposit within 24 hours of your Return time or before the next renter picks up, whichever is earlier. If a claim is initiated, Kitshare Customer Service will be in contact with both the Renter and Owner
                        to make sure both are represented fairly. Additional details regarding the Security Deposit are available at <a [routerLink]="[ '/faq' ]">https://www.kitshare.com.au/FAQ</a></p>
                    <div class="headings_new">Pricing and Payments:</div>
                    <p>We follow industry standards set by rental houses on how we charge for shoot days. There is no charge for the pick up and return days. If you rent equipment for 1, 2 or 3 shoot days, you pay for the shoot days only. If you rent equipment between 4 and 7 days, you only pay for 3 shoot days.
                        Weekends are considered 1 shoot day. The cost of your rental is based on the number of shoots days. Additional details regarding pricing and payments are available at <a [routerLink]="[ '/faq' ]">https://www.kitshare.com.au/faq/list/Pricing-and-Payments</a></p>
                    <div class="headings_new">Payment processed by:</div>
                    <p> Braintree (a PAYPAL Company)</p>
                    <p> 1 York Street</p>
                    <p> Sydney</p>
                    <p> NSW 2000</p>
                    <p> Australia</p>
                    <div class="headings_new">Kitshare:</div>
                    <p> PO BOX 131</p>
                    <p> Seaforth</p>
                    <p> NSW 2092</p>
                    <p> Australia</p>
                    <p> ABN:85 623 435 709</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div #damageIssueModal class="modal fade" id="damageIssueModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- global  Modal -->
<div id="contactTheOwner" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact The Owner</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">

                    <!-- <div class="chatView">
                  <img class="img-circle center-block res-listing-img" alt="{{ gearDetails.app_user_first_name + ' ' + gearDetails.app_user_last_name }} Avatar"
                  src="{{ gearDetails.user_profile_picture_link}}">
                     <div class="chatDetails">
                         <h3>{{ gearDetails.app_user_first_name + ' ' + gearDetails.app_user_last_name }} <span>10 min ago</span></h3>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised</p>
                     </div>
                 </div> -->


                    <form>
                        <div class="form-group">
                            <label>Enter your Message</label>
                            <textarea name="message_with_owner" [(ngModel)]="message_with_owner" rows="3" class="form-control" placeholder="Enter your Messages"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="sk-button top_to_btn" type="button" (click)="sendMessageToOwner()">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Damage/Issue</h4>
            </div>
            <div class="modal-body">
                <div class="issueWrap">
                    <textarea rows="3" placeholder="Enter your keyword" class="form-control" name="update_damage_issue" [(ngModel)]="update_damage_issue"></textarea>
                    <button type="button" class="btn btn-default unavailable_btn1" (click)="updateDamageIssues()">Update</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




<!-- Review Modal -->
<div id="reviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Write a Review</b></h4>
                <button type="button" #closeSubmitReviewModal class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-right">Rating</label>
                        </div>
                        <div class="col-md-9">
                            <!-- <star-rating [starType]="'icon'" [numOfStars]="5" staticColor="ok" [showHalfStars]="true" (starClickChange)="onClickStarRating($event)"></star-rating> -->

                            <kit-rating-decimal [disabled]="false" (starClickChange)="onClickStarRating($event)"></kit-rating-decimal>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="text-right">Comment</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <textarea rows="3" name="cust_gear_review_desc" class="form-control" placeholder="Write a review..." [(ngModel)]="cust_gear_review_desc"></textarea>
                            </div>
                            <p>Share your experience while it's still fresh. Show your gratitude or provide helpful feedback.</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="submit_review_btns" (click)="submitReview()">Submit Review</button>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<!--order placed model-->
<div class="modal fade" id="ordercompletemodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="thank-you-pop clearfix">
                    <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                    <h1>Congratulations!</h1>
                    <p>Your Rental Request has been sent. This is not a confirmed booking - at least not yet. You'll get a response within 24 hours.</p>
                    <strong class="cupon-pop">Your Order Id: <span>{{order_id}}</span></strong><br />
                    <button class="success-buttonclose" type="button" data-dismiss="modal" aria-label="">Read Details</button>
                </div>
            </div>
        </div>
    </div>
</div>