<div class="cart_sec">

  <div class="check_out_page">
    <div class="container">
      <div class="payment_heading">Add Card to Hyperwallet</div>
    </div>
  </div>


  <div class="wallel_wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-xs-offset-2">
          <div class="row">
          <form class="">
           
            <div class="col-md-6">
            <div class="form-group">
              <div class="wrap-input100 wrap-input1000 validate-input">
                <span class="label-input100">FirstName</span>
                <input class="input100 input1000" name="firstName" placeholder="Enter your FirstName"
                  required="" type="text"  >
                <span class="focus-input100"></span>
              </div>  
            </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
              <div class="wrap-input100 wrap-input1000 validate-input">
                <span class="label-input100">Lastname</span>
                <input class="input100 input1000" name="Lastname" placeholder="Enter your Lastname" required="" type="text">
                <span class="focus-input100"></span>
             </div>
            </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100">Email</span>
                  <input class="input100 input1000" name="Email" placeholder="Enter your Email" required="" type="Email">
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
              <div class="wrap-input100 wrap-input1000 validate-input">
                <span class="label-input100">Date of birth</span>
                <input placeholder="Choose Date of birth" name="date"  class="input100 input1000" [owlDateTimeTrigger]="dt5"
                   [owlDateTime]="dt5">
                <owl-date-time [pickerType]="'calendar'" [pickerMode]="'popup'" #dt5></owl-date-time>
                <span class="focus-input100"></span>
              </div>
            </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100 Address">Address line 1</span>
                  <textarea class="input100 input1000" rows="2" name="Address" placeholder="Enter your Address" ></textarea>
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100 Address">City</span>
                  <select class="input100 input1000"  name="City" >
                    <option>City 1</option>
                    <option>City 2</option>
                    <option>City 3</option>
                  </select>
                  <span class="focus-input100"></span>
                </div>
              </div> 
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100 Address">Country </span>
                  <select class="input100 input1000" name="City">
                    <option>Country 1</option>
                    <option>Country 2</option>
                    <option>Country 3</option>
                  </select>
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100">Postal Code</span>
                  <input class="input100 input1000" name="text" placeholder="Enter your Postal Code" required="" type="Email">
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100">Card Number</span>
                  <input class="input100 input1000" name="text" placeholder="Enter your Card Number" required="" type="Email">
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100 Address">Date Of Expiry </span>
                  <select class="input100 input1000" name="City">
                    <option>Month</option>
                    <option>Month 1</option>
                    <option>Month 2</option>
                  </select>
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-6">
              <div class="form-group">
                <div class="wrap-input100 wrap-input1000 validate-input">
                  <span class="label-input100 Address">&nbsp;</span>
                  <select class="input100 input1000" name="City">
                    <option>Date</option>
                    <option>01</option>
                    <option>02</option>
                  </select>
                  <span class="focus-input100"></span>
                </div>
              </div>
            </div>

            
            <div class="col-md-12">
              <button type="button" class="btn unavailable_btn1">Save</button>
            </div>
            


          </form>
          </div>
        </div>
      </div>
   </div>
  </div>


</div>
