<!--<ng-container>-->
<!--  <div class="search_block">-->
<!--    <div class="menu-trigger" (click)="toggleNestedMenu()">-->
<!--      <button mat-icon-button>-->
<!--        <mat-icon class="icon-black">list</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--    <kit-nested-drop *ngIf="showNestedMenu"></kit-nested-drop>-->
<!--    <kit-looking-for></kit-looking-for>-->
<!--    <kit-location-search (locationSelect)="onLocationSelect($event)"></kit-location-search>-->
<!--    <button class="search" (click)="goToSearchPage()">-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</ng-container>-->


