<section class="card_wrapper">
  <header>
    <a class="imageBlock" href="view-gear/Security-check-4th-june--1322--drone-category-114">
      <img src="https://www.kitshare.com.au/kitlab/site_upload/gear_images/1563442787.jpg" alt="">
    </a>
  </header>
  <div class="description">
    <a class="headline" href="">
      <h3>Eqipment for HiEnd Capture</h3>
      <span class="price_slab">$132.00 inc GST / per day or weekend</span>
    </a>
    <footer>

      <div class="avatar_block">
        <a href="" class="profile_link">
          <span class="avatar">
            <img src="https://kitshare.com.au/kitlab/site_upload/profile_img/1561608875.jpg" alt="">
          </span>
          <div class="name_wrapper">
            <span class="name">Kitshare Pty Ltd</span>
            <kit-rating-decimal [currentRate]="2" [disabled]="true"></kit-rating-decimal>

          </div>

        </a>
        <kit-fav-me></kit-fav-me>
      </div>
    </footer>
  </div>
</section>