<section class="sign_background login_background">
    <div class="container">
        <div class="col-md-12">
            <form class="sign_up" name="reset-password" id="panel">
                <h2>Forgot</h2>
                
                <div class="group">
                    <input name="password" type="password" [(ngModel)]="password.newpassword" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Enter New Password</label>
                </div>

                <div class="group">
                    <input name="confirmpassword" type="password" [(ngModel)]="password.confirmpassword" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label> Confirm Password</label>
                </div>

                <div class="clearfix"></div>
                <button class="btn resetpass-btn" (click)="submitForm()" type="submit">Update</button>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="group group1">
                    <div class="text-center">
                        <p>Remember Password?
                            <a routerLink="/login" class="text-info m-l-5">
                                <b>Sign In</b>
                            </a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>