<section class="dashboard_bodynew">
    <div id="contact_form_list">
        <div class="container">
            <div class="row">
                <div class="confirmationView">
                    <img src="assets/images/check.png">
                    <p class="confirm-header">Thanks!</p>
                    <p>A confirmation email has been sent to verify your account.</p>
                    <p>Sometimes it may end up in your junk mail folder, so please keep an eye out.</p>
                    <!-- <a routerLinkActive="active" [routerLink]="['/login']">back to Login</a> -->
                    <div class="confirm-button" routerLinkActive="active" [routerLink]="['/login']">BACK TO LOGIN</div>
                </div>                
            </div>
        </div>
    </div>
</section>