<div class="cart_sec">

  <div class="check_out_page">
    <div class="container">
      <div class="payment_heading">Hyper wallet list</div>
    </div>
  </div>

  <div class="wallet_list_wrap">
    <div class="container">
      <div class="row">


        <div class="col-md-12">
          <a class="add_acc" href="/add-Wallet">Add Hyper Wallet</a>
        </div>


        <div class="col-md-12">
          <p class="no_add">You Have No Hyper wallet Add  </p>
        </div>

        <div class="col-sm-4">
          <div class="card list">
            <h3>Mrinmay Biswas</h3>
            <p><b>Email :</b> Mrinaybiswas95@gmail.com</p>
            <p><b>DOB :</b> 05.06.1995</p>
            <p><b>Address :</b> Address line </p>
            <p><b>City :</b> City Name</p>
            <p><b>Country :</b> Country Name</p>
            <p><b>Postal Code :</b> Postal Code Name</p>
            <p><b>Card Number :</b> 0000 0000 0000</p>

            <div class="action">
              <a href="#">Edit</a>
              <a href="#">Detete</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card list">
            <h3>Mrinmay Biswas</h3>
            <p><b>Email :</b> Mrinaybiswas95@gmail.com</p>
            <p><b>DOB :</b> 05.06.1995</p>
            <p><b>Address :</b> Address line </p>
            <p><b>City :</b> City Name</p>
            <p><b>Country :</b> Country Name</p>
            <p><b>Postal Code :</b> Postal Code Name</p>
            <p><b>Card Number :</b> 0000 0000 0000</p>
        
            <div class="action">
              <a href="#">Edit</a>
              <a href="#">Detete</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  </div>