<section class="dashboard_bodynew">
    <div class="top_bresdcum">
        <div class="container">
            <div class="col-md-12">
                Profile Settings
            </div>
        </div>
    </div>
    <div id="contact_form_list">
        <div class="container">
            <div class="row">
                <app-left-sidebar></app-left-sidebar>
                <div class="col-md-9 col-sm-9">
                    <div class="container-contact100 box_shadow_form">
                        <div class="wrap-contact100">
                            <form class="contact100-form validate-form">
                                <div class="col-md-12">
                                    <div class="contact_info_heading">
                                        <div class="socials_panel">
                                            <p>Connect your socila accounts and create a network of friends</p>
                                            <a class="btn btn-block btn-social btn-instagram">
                                                <i class="fa fa-instagram"></i> Join with Instagram
                                            </a>
                                            <a class="btn btn-block btn-social btn-facebook">
                                                <i class="fa fa-facebook"></i> Join with Facebook
                                            </a>
                                            <a class="btn btn-block btn-social btn-twitter">
                                                <i class="fa fa-twitter"></i> Join with Twitter
                                            </a>
                                            <p class="network_text">Your Network on kitshare</p>
                                            <span>
                                                <img src="assets/images/network_image_new.png">
                                            </span>
                                            <span>
                                                <img src="assets/images/network_image_new.png">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="dropDownSelect1"></div>
            </div>
        </div>
    </div>
</section>