<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon class="icon-white">more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="[ '/cms/what-is-kitshare']">
    <mat-icon>home</mat-icon>
    <a>What is Kitshare?</a>
  </button>

  <button mat-menu-item [routerLink]="[ 'cms/terms-and-conditions']">
    <mat-icon>description</mat-icon>
    <a>Terms and Conditions</a>
  </button>

  <button mat-menu-item [routerLink]="[ 'cms/customer-damage-waiver']">
    <mat-icon>verified_user</mat-icon>
    <a>Insurance Details</a>
  </button>

  <button mat-menu-item [routerLink]="[ '/cms/privacy-policy']">
    <mat-icon>lock</mat-icon>
    <a>Privacy Policy</a>
  </button>

  <button mat-menu-item [routerLink]="['/faq']">
    <mat-icon>help</mat-icon>
    <a>Frequently Asked Questions</a>
  </button>

  <button mat-menu-item [routerLink]="['cms/contact-us']">
    <mat-icon> contacts</mat-icon>
    <a>Contact Us</a>
  </button>


</mat-menu>