<!-- <div class="logo" [routerLink]="['/']">
    <img src="assets/images/logo.png" class="img-responsive">
</div> -->

<!-- MOBILE -->
<div class="row hidden-lg">
    <div class="col-xs-12 mobilelogo-container">
        <div class="logo logo-mobile" [routerLink]="['/']">
            <img src="assets/images/logo-kicon.png" class="img-responsive">
        </div>
    </div>
</div>

<!--DESKTOP -->
<div class="row hidden-xs hidden-sm hidden-md">
    <div class="large-12 desktoplogo-container">
        <div class="logo logo-desktop" [routerLink]="['/']">
            <img src="assets/images/logo.png" class="img-responsive">
        </div>
    </div>
</div>
